%h1 Demographic Information: Step 2 of 2
%p Reminder: You may skip any item you are uncomfortable answering.
= form.fields_for :demographic_attributes do |demographic_f|
  = demographic_f.input :gender,
    :required => false,
    :as => :radio,
    :collection => ["Male", "Female", "Transgender", "Prefer not to say"],
    :label => "My gender is:"
  = demographic_f.input :age, :required => false, :label => "My age today is (in years):"
  = demographic_f.input :race, :required => false, :label => "My racial background is:<br/>" do
    - ["African American", "Arab American", "Asian American", "Caucasian/White", "Hispanic/Latino", "Native American", "Multi-racial"].each do |race|
      %span.newlines
        = radio_button_tag "participant[demographic_attributes][race]", race
        = label_tag "participant_demographic_attributes_race_#{race.gsub(" ","_")}", race
    %span#custom-race
      = radio_button_tag "participant[demographic_attributes][race]", "custom"
      = label_tag "participant_demographic_attributes_race", "Best Described As:"
      = text_field_tag "custom_race"
  = demographic_f.input :education, :required => false, :as => :radio,
    :label => "My level of education is:<br\>", 
    :collection => ["Less than high school degree/GED","High school degree/GED", "Some college", "College degree", "Advanced degree"]
  = demographic_f.input :twitter_use, :required => false, :as => :radio,
    :label => "I would estimate that I use Twitter:<br/>", 
    :collection => ["More than once or twice a day", "Once or twice a day", "Several times a week", "Several times a month", "Once a month or less"]


