%h1 Demographic Information: Step 2 of 2
%p Reminder: You may skip any item you are uncomfortable answering.
= form.fields_for :demographic_attributes do |demographic_f|
  = demographic_f.input :gender,
    :required => false,
    :as => :radio,
    :collection => ["Male", "Female", "Transgender", "Prefer not to say"],
    :label => "My gender is:"
  = demographic_f.input :age, :required => false, :label => "My age today is (in years):"
  = demographic_f.input :race, :required => false, :label => "My racial background is:<br/>" do
    - ["African American", "Arab American", "Asian American", "Caucasian/White", "Hispanic/Latino", "Native American", "Multi-racial"].each do |race|
      %span.newlines
        = radio_button_tag "participant[demographic_attributes][race]", race
        = label_tag "participant_demographic_attributes_race_#{race.gsub(" ","_")}", race
    %span#custom-race
      = radio_button_tag "participant[demographic_attributes][race]", "custom"
      = label_tag "participant_demographic_attributes_race", "Best Described As:"
      = text_field_tag "custom_race"
  = demographic_f.input :education, :required => false, :as => :radio,
    :label => "My level of education is:<br\>", 
    :collection => ["Less than high school degree/GED","High school degree/GED", "Some college", "College degree", "Advanced degree"]
  = demographic_f.input :twitter_use, :required => false, :as => :radio,
    :label => "I would estimate that I use Twitter:<br/>", 
    :collection => ["More than once or twice a day", "Once or twice a day", "Several times a week", "Several times a month", "Once a month or less"]
  %div#sites
    = demographic_f.label :other_site_ids, "In addition to Twitter, I also use the following other internet sites:", :required => false
    = demographic_f.collection_check_boxes :other_site_ids, OtherSite.all.map {|s| [s.id, s.site]}, :first, :last, :required => false
  = demographic_f.input :why_twitter, :required => false, :as => :text,
    :label => "Please write 1-2 paragraphs answering the question: Why do you use Twitter? If you do not use Twitter, please explain why you don't. <br/>"
  = demographic_f.input :twitter_story, :required => false, :as => :text,
    :label => "If you use Twitter, in 2-3 paragraphs, please write a true story about a time you used Twitter. This could be a story about something unusual that happened or a story that describes a very typical Twitter experience for you. Remember that stories have a beginning, middle, and end, as well as characters (one of the characters in this story should be you). It should also include your thoughts and feelings, as well as any reflections you have about what this story says about you. We are interested in a story about a real experience you had using Twitter. If you do not use Twitter, please note that.<br/>"
    
%p In this study we are interested in whether people who do not know you but who read your tweets can assess your personality as accurately as people who know you well in person. Please provide the email addresses of up to three people who know you well (ideally close friends or family) that might be willing to participate in a less-than-10 minute survey about your personality.
%p <b>Close Aquaintance 1</b>
%div.inform
  %div.inf
    = label_tag "informant_1_email", "Email address:", :class => "email"
    = text_field_tag "informant_1_email"
  %div.inf
    = label_tag "informant_1_relationship", "How do you know them?"
    = select_tag "informant_1_relationship", options_for_select([["Close friend"], ["Extended family"], ["Immediate family"], ["Significant other"]])
  %div.inf
    = label_tag "informant_1_length", "How many years have you known this person?"
    = text_field_tag "informant_1_length"
%p <b>Close Aquaintance 2</b>
%div.inform
  %div.inf
    = label_tag "informant_2_email", "Email address:", :class => "email"
    = text_field_tag "informant_2_email"
  %div.inf
    = label_tag "informant_2_relationship", "How do you know them?"
    = select_tag "informant_2_relationship", options_for_select([["Close friend"], ["Extended family"], ["Immediate family"], ["Significant other"]])
  %div.inf
    = label_tag "informant_2_length", "How many years have you known this person?"
    = text_field_tag "informant_2_length"
%p <b>Close Aquaintance 3</b>
%div.inform
  %div.inf  
    = label_tag "informant_3_email", "Email address:", :class => "email"
    = text_field_tag "informant_3_email"
  %div.inf  
    = label_tag "informant_3_relationship", "How do you know them?"
    = select_tag "informant_3_relationship", options_for_select([["Close friend"], ["Extended family"], ["Immediate family"], ["Significant other"]])
  %div.inf
    = label_tag "informant_3_length", "How many years have you known this person?"
    = text_field_tag "informant_3_length"
%p When contacting these identified close friends or family members, we need to let them know where we got their email addresses. Please provide your name. It will not be connected to your data in any way.
= form.input :name, :label => "Your name:", :required => false
%p If you would like to be cc'd on the email sent to the acquaintances you've identified, please provide your email address. Email address will also be used to contact the winners of the Amazon gift card drawing at the end of the study. Your email will not be connected to your data in any way.
= form.input :email, :label => "Your email address:", :required => false

