= form.input :email, :required => false

= label_tag "informant_emails", "Tell us your friends' emails:"
= text_field_tag "informant_email_1"
= text_field_tag "informant_email_2"
= text_field_tag "informant_email_3"
