%h1 Personality Perception on Twitter
%p Welcome to the online portal for the Personality on Twitter study, being conducted by researchers at #{ link_to 'Franklin W. Olin College of Engineering', 'http://www.olin.edu',  :target => "_blank"}!

%h3 Answer 18 short questions about your personality and get entered into a drawing to win $50 at Amazon.com!

%p Read more about the study #{ link_to 'here', 'http://www.olinpsychology.com/thank_you/more_info', :target => "_blank"}. 
%p If you are interested in participating, please click “Next” to view the official consent form, where you will indicate your willingness to participate and then begin the study.

= simple_form_for Participant.new do |f|
 = f.input :handle
 = f.submit "Next"
