= simple_form_for ParticipantTenItems.new,
  :url => observer_participant_ten_items_path(@observer), :method => :post do |f|
  %p.italic
    Please answer the following questions
    %span.underline about the personality of the person whose Twitter feed you have just read.
  %h1 Ten-Item Personality Inventory
  %p
    Here are a number of personality traits that may or may not apply to the person whose Twitter
    feed you just read. Please write a number next to each statement to indicate the extent to which
    %span.underline
      you agree or disagree that the statement describes the person whose Twitter feed
      you just read.
  %p
    You should rate the extent to which the pair of traits applies to that person,
    even if one characteristic applies more strongly than the other.
  %ol
    %li Disagree strongly
    %li Disagree moderately
    %li Disagree a little
    %li Neither agree nor disagree
    %li Agree a little
    %li Agree moderately
    %li Agree strongly

  %p.italic
    I see the person whose Twitter feed I just read as:

  = f.hidden_field :subject_id, :value => @observer.id
  = f.hidden_field :subject_type, :value => @observer.class
  = f.input :participant_id, :required => true
  = render 'ten_item_questions', :ten_item_f => f
  = f.submit
