%h1 Demographic Information
%p Reminder: You may skip any item you are uncomfortable answering.
= form.fields_for :demographic_attributes do |demographic_f|
  = demographic_f.input :gender,
    :required => false,
    :as => :radio,
    :collection => ["Male", "Female", "Transgender", "Prefer not to say"],
    :label => "My gender is:<br/>"
  %p
  = demographic_f.input :age, :class = "short_lb" :required => false, :label => "My age today is:"
  %p
  = demographic_f.input :race, :required => false, :label => "My racial background is:<br/>" do
    - ["African American", "Arab American", "Asian American", "Caucasion/White", "Hispanic/Latino", "Native American", "Multi-racial"].each do |race|
      %span
        = radio_button_tag "participant[demographic_attributes][race]", race
        = label_tag "participant_demographic_attributes_race_#{race.gsub(" ","_")}", race
    %span#custom-race
      = radio_button_tag "participant[demographic_attributes][race]", "custom"
      = label_tag "participant_demographic_attributes_race", "Best Described As:"
      = text_field_tag "custom_race"
  %p
  = demographic_f.input :education, :required => false, :as => :radio,
    :label => "My level of education is:<br/>", 
    :collection => ["High school degree/GED", "Some college", "College degree", "Advanced degree"]
  %p
  = demographic_f.input :twitter_use, :required => false, :as => :radio,
    :label => "I would estimate that I use Twitter:<br/>", 
    :collection => ["Many times a day", "Once a day", "Several times a week", "Several times a month", "Once a month or less", "I have never used Twitter"]
  %p
  = demographic_f.label :other_site_ids, "In addition to Twitter, I also use the following other internet sites:", :required => false
  %p
  = demographic_f.collection_check_boxes :other_site_ids, OtherSite.all.map {|s| [s.id, s.site]}, :first, :last, :required => false
  %p
  = demographic_f.input :why_twitter, :required => false, :as => :text, :input_html => { :class => "textbox" :rows => 4},
    :label => "Please write 1-2 paragraphs answering the question: Why do you use Twitter? If you do not use Twitter, please explain why you don't. <br/>"
  %p
  = demographic_f.input :twitter_story, :required => false, :as => :text,
    :label => "In 2-3 paragraphs, please write a true story about a time you used Twitter.  This could be a story about something unusual that happened or a story that describes a very typical Twitter experience for you.  Remember that stories have a beginning, middle, and end, as well as characters (one of the characters in this story should be you).  It should also include your thoughts and feelings, as well as any reflections you have about what this story says about you.  We are interested in a story about a real experience you had using Twitter.<br/>"
