= form.fields_for :ten_item_attributes do |ten_item_f|
  = ten_item_f.input :extraverted, :required => false
  = ten_item_f.input :critical, :required => false
  = ten_item_f.input :dependable, :required => false
  = ten_item_f.input :anxious, :required => false
  = ten_item_f.input :open, :required => false
  = ten_item_f.input :reserved, :required => false
  = ten_item_f.input :sympathetic, :required => false
  = ten_item_f.input :disorganized, :required => false
  = ten_item_f.input :calm, :required => false
  = ten_item_f.input :conventional, :required => false
