= ten_item_f.input :extraverted, :required => false, :label => "Extraverted, enthusiastic.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :critical, :required => false, :label => "Critical, quarrelsome.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :dependable, :required => false, 
  :label => "Dependable, self-disciplined.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :anxious, :required => false, :label => "Anxious, easily upset.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :open, :required => false, 
  :label => "Open to new experiences, complex.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :reserved, :required => false, :label => "Reserved, quiet.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :sympathetic, :required => false, :label => "Sympathetic, warm.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :disorganized, :required => false, 
  :label => "Disorganized, careless.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :calm, :required => false, :label => "Calm, emotionally stable.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :conventional, :required => false,
  :label => "Conventional, uncreative.",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
