= ten_item_f.input :extraverted, :required => false, :label => "Extraverted, enthusiastic."
= ten_item_f.input :critical, :required => false, :label => "Critical, quarrelsome."
= ten_item_f.input :dependable, :required => false, :label => "Dependable, self-disciplined."
= ten_item_f.input :anxious, :required => false, :label => "Anxious, easily upset."
= ten_item_f.input :open, :required => false, :label => "Open to new experiences, complex."
= ten_item_f.input :reserved, :required => false, :label => "Reserved, quiet."
= ten_item_f.input :sympathetic, :required => false, :label => "Sympathetic, warm."
= ten_item_f.input :disorganized, :required => false, :label => "Disorganized, careless."
= ten_item_f.input :calm, :required => false, :label => "Calm, emotionally stable."
= ten_item_f.input :conventional, :required => false, :label => "Conventional, uncreative."
