= ten_item_f.input :extraverted, :class => "tens", :required => false, :label => "Extraverted, enthusiastic.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :critical, :required => false, :label => "Critical, quarrelsome.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :dependable, :required => false, 
  :label => "Dependable, self-disciplined.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :anxious, :required => false, :label => "Anxious, easily upset.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :open, :required => false, 
  :label => "Open to new experiences, complex.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :reserved, :required => false, :label => "Reserved, quiet.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :sympathetic, :required => false, :label => "Sympathetic, warm.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :disorganized, :required => false, 
  :label => "Disorganized, careless.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :calm, :required => false, :label => "Calm, emotionally stable.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
= ten_item_f.input :conventional, :required => false,
  :label => "Conventional, uncreative.<br/>",
  :as => :radio,
  :collection => ["1", "2", "3", "4", "5", "6", "7"]
